exclude: '^dist$'

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    verbose: true
    hooks:
      - id: prettier
        types_or: [ javascript, jsx, ts, tsx, json, css, markdown ]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.31.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$  # match JavaScript and TypeScript files
        types: [ file ]
        additional_dependencies:
          -  eslint
          - '@eslint/js'

  - repo: local
    hooks:
      - id: jest-tests
        name: Run Jest tests
        entry: npm test
        language: system
        pass_filenames: false
        types: [ javascript ]
  - repo: local
    hooks:
      - id: test-github-workflows
        name: Test GitHub Workflows with act
        entry: ./scripts/test-github-workflows.sh
        language: script
        files: .pre-commit-config.yaml$
        verbose: true
