exclude: '^dist$'
fail_fast: true
# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '.*dist\/.*|package-lock.json'
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [ javascript, jsx, ts, tsx, json, css, markdown ]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.39.1
    hooks:
      - id: eslint
        args: [--fix]
        files: \.[jt]sx?$  # match JavaScript and TypeScript files
        exclude: '.*dist\/.*'
        types: [ file ]

        additional_dependencies:
          - eslint
          - '@eslint/js'

  - repo: local
    hooks:
      - id: jest-tests
        name: Run Jest tests
        entry: npm test
        language: system
        pass_filenames: false
        types: [ javascript ]
